h1{                     /* element selector*/                                
    color: #06c12f;
    padding-left:10% ;
    background-color: rgb(237, 234, 205);
    font-family:cursive ;
    font-size: 50;
    
    
    padding: 10px;

    
    

}

 table,th,td {
     border: 1px solid rgb(16, 15, 15);

 }
#item1 {                        /* id selector*/
    color: rgb(214, 119, 17);

}

.item2{                             /* class selector*/
    color:rgba(14, 202, 64, 0.753)
    
}

p{
    color: hsl(269, 27%, 30%);
    font-size: 18px;
    
}

a:hover{                              /* pseudo-class selector*/
    color: #f40909;
}

.item2 p:hover{                     /*Descendant Selectors*/
    color:rgb(1, 132, 246) ;

}


p.p1:hover{                         /*Element with Class Selector*/
    color: #740fef72;
}


.food > h2 {                    /*child selector*/
    color: rgba(151, 119, 240, .5);
    text-transform: capitalize;
    
    text-align: center;
}

.food>h2:hover {
    
    color: rgba(151, 119, 240, 1);  /*rgba*/
    text-decoration: underline rgba(3, 3, 3, .2) 2px;
}